.popup {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 600px; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#login-page input{
  height: 25px;
  border-radius: 5%;
}

#signup-page input{
  height: 25px;
  border-radius: 5%;
}

#loginbtn{
  border: 0;
}

#signupbtn{
  border: 0;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
input[type="email"]:hover
 {
  border: 3px solid green;
}

.phone-container {
  position: relative;
  display: inline-block;
}

.prefix {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none; 
}

#contactInput {
  padding-left: 25px; 
}
input[type="submit"]:hover{
  margin-top: 3px;
}
button[type="button"]:hover{
  margin-top: 5px;
}